*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-width: 320px;
}
.header{
    margin-top: 25px;
}
.logo{
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}
.slogan{
    margin-top: 0;
    font-size: 24px;
    color: #2c3e50;
    line-height: 100%;
}
.bucket-text{
    border: 1px solid #ecf0f1;
    color: #3498db;
    font-size: 16px;
    font-weight: 500;
    line-height: 46px;
    text-align: center;
    text-decoration: none;
}
.bucket-img{
    width: auto;
    height: auto;
    padding-right: 15px;
}
.contacts{
    color: #466380;
}
.contacts::first-line{
    padding-bottom: 3px;
    color: #2c3e50;
    font-size: 24px;
    font-weight: bold;
}
.contacts a{
    color: #3498db;
}
.navbar-header{
    z-index: 999;
    position: fixed;
    display: flex;
    justify-content: center;
    background: #2980b9;
}
#navbar-main{
    background: #2980b9;
}
.header-links{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
    background: #2980b9;
}
.container-fluid{
    width: 100%;
    padding: 0;
}
nav .container{
    width: 100vh;
}
nav li{
    width: 100%;
    background-color: #2980b9;
    display: flex;
    justify-content: center;
    list-style: none;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}
.nav li{
    display: flex;
    justify-content: center;
}
nav a{
    color: white;
}
.header .col-lg-4 {
    margin: 0;
    padding: 0;
}
.header .col-md-4 {
    margin: 0;
    padding: 0;
}
.block .col-lg-9{
    padding: 0;
}
.block .col-md-9{
    padding: 0;
}
ul{
    display: flex;
}
.item{
    display: flex;
    justify-content: center;
    cursor: pointer;
    color: white;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 15px;
    line-height: 52px;
}
.item:hover{
    background-color: #3498db;
}
.body{
    background-color: #ecf0f1;
}
.search{
    margin-top: 10px;
}
.navbar{
    margin-bottom: 0;
}
.search-name{
    width: 132px;
    height: 35px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    line-height: 35px;
}
.search-input{
    padding: 0 15px;
    font-size: 18px;
}
fieldset input{
    width: 100%;
    border: 0;
    border-radius: 5px;
    height: 42px;
    background-color: #d64838;
}
.search-input:focus{
    outline: none;
    background-color: white;
}
input::placeholder{
    color: white;
}
input:focus::placeholder{
    color: #2c3e50;
}
.body fieldset{
    display: flex;
    padding-top: 17px;
    padding-bottom: 17px;
    border: 0;
}
.block .search-name, .block fieldset{
    padding-left: 40px; 
    padding-right: 40px; 
    background: #e74c3c;
}
.search-submit{
    float: right;
    cursor: pointer;
    width: 120px;
    margin-left: 10px;
    background-image: url(../img/lupe.png);
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.1s;
}
.search-submit:hover{
    background-color: #a3382c;
}
.price-list{
    margin-top: 10px;
    padding: 15px 30px;
    background-color: white;
}
.price-name{
    margin-left: -15px;
    color: #e74c3c;
    font-size: 14px;
    font-weight: 900;
    line-height: 20px;
}
.price-list-content a{
    color: #3498db;
}
.price-list-content{
    margin-top: 10px;
    font-size: 18px;
}
.slider-block{
    margin-top: 15px;
    width: 910px;
    display: flex;
    overflow: hidden;
}
.s1{
    background-color: red;
}
.s2{
    background-color: blue;
}
.s3{
    background-color: green;
}
.overflow{
    margin-bottom: 10px;
    margin-top: 15px;
    overflow: hidden;
}
.vk{
    width: 261px;
    margin-top: 14px;
}
.s1, .s2, .s3{
    width: 910px;
    height: 220px;
    margin-bottom: 10px;
}
.desc{
    box-sizing: border-box;
    font-size: 18px;
    line-height: 120%;
    color: #202730;
}
.col-lg-12 {
    padding: 0;
}
.navbar-toggle {
    display: flex;
    position: relative;
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    width: 95vw;
    border: none;
    border-radius: 4px;
    flex-direction: column;
    align-items: center;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}
.main-title{
    margin-top: 35px;
    margin-left: 60px;
    font-size: 30px;
    color: #2c3e50;
    font-weight: bold;
    margin-bottom: 10px;
}
.items.col-lg-3.col-md-3.col-sm-4.col-xs-6 {
    padding-left: 5px;
    padding-right: 5px;
}
.item-cor{
    display: flex;
    height: 400px;
    margin-bottom: 10px;
    background-color: white;
    border: 1px solid#c2e9f2;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    border: 3px solid transparent;
}
.slider-item{ 
    cursor: pointer;
    margin-top: 10px;
    width: 90%;
    border-radius: 20px;
    height: 50%;
    background-color: rgb(116, 116, 116);
}
.slider-body{
    z-index: 1;
    margin-top: 10px;
    cursor: pointer;
    display: flex;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    background: #3498db;
    font-weight: 700;
    color: white;
    border-radius: 5px;
    margin-left: 10px;
    transition: 0.1s;
}
.slider-body:hover{
    background-color: #2c3e50;
}
.item-cor a{
    margin-left: 10px;
    color: #e74c3c;
}
.slider-text{
    z-index: 1;
    margin-top: 10px;
}
.slider-old-price{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: auto;
    color: #e74c3c;
    font-size: 18px;
    text-decoration: line-through;
    margin-left: 10px;
}
.slider-new-price{
    color: #2980b9;
    font-size: 25px;
    margin-right: auto;
    margin-left: 10px;
}
.catalog-elem{
    display: flex;
    height: 267px;
    background: #fff;
    border: 1px solid #c2e9f2;
    color: #2c3e50;
    justify-content: center;
    border: 3px solid transparent;
}
.catalog-elem:hover{
    border: 3px solid #fda298;
}
.catalog-img{
    width: auto;
    height: auto;
}
.catalog-elem a{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.catalog{
    margin-bottom: 10px;
}
.catalog.col-lg-3.col-md-3.col-sm-4.col-xs-6.col-xxs-12 {
    padding-left: 5px;
    padding-right: 5px;
}
.basement{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #2c3e50;
    
}
.basement-text{
    margin-left: 60px;
    margin-top: 30px;
    font-size: 14px;
    color: white;
}
.basement-text a{
    color: white;
}
@media (min-width: 400px){
    .basement-text{
        font-size: 10px;
    }
    .basement{
        height: 120px;
    }   
    .main-title{
        font-size: 24px;
    }
}
@media (max-width: 768px) {
    .basement-text{
        font-size: 12px;
    }
    .basement{
        height: 120px;
    }
    .main-title{
        font-size: 24px;
    }
    .slider-body{
        width: 120px;
        height: 50px;
        font-size: 16px;
    }
    .item-cor{
        height: 480px;
    }
    .slider-new-price{
        font-size: 28px;
    }
    .slider-old-price{
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 20px;
    }
    .slider-text{
        font-size: 18px;
    }
    .contacts::first-line {
        font-size: 15px;
    }
    ul{
        display: flex;
        flex-direction: column;
    }
    .navbar-nav{
        float: none;
    }
    .search{
        margin-top: 0;
    }
    .overflow{
        margin-top: 0;
    }
    .block .col-xs-9{
        padding: 0;
    }
    .block .col-xs-12{
        padding: 0;
    }
    .bucket-img{
        padding-right: 15px;
    }
    .bucket-box{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .header .col-sm-4 {
        padding-right: 25px;
        padding-left: 25px;
    }
    .price-list{
        margin-top: 0;
    }
  }
@media (min-width: 768px) {
    .basement-text{
        font-size: 14px;
    }
    .basement{
        height: 140px;
    }
    .main-title{
        font-size: 24px;
    }
    .slider-body{
        width: 97px;
        height: 40px;
        font-size: 14px;
    }
    .item-cor{
        height: 300px;
    }
    .slider-new-price{
        font-size: 20px;
    }
    .slider-old-price{
        margin-top: 0;
        margin-bottom: 0;
        font-size: 16px;
    }
    .slider-text{
        font-size: 10px;
    }
    .navbar-collapse{
        display: flex;
        justify-content: center;
    }
    .navbar-nav{
        float: none;
    }
    .search{
        margin-top: 10px;
    }
    .overflow{
        margin-top: 15px;
    }
    .block .col-sm-9{
        padding: 0;
    }
    .bucket-img{
        padding-right: 0;
    }
    .bucket-box{
        margin-top: 0;
    }
    .header .col-sm-4 {
        padding: 0;
    }
    .price-list{
        margin-top: 10px;
        padding: 11px 30px;
    }
    .price-list-content{
        font-size: 14px;
    }
    .price-name{
        font-size: 12px;
    }
    .logo img{
        width: 100px;
    }
    .contacts::first-line{
        font-size: 18px;
    }
    .bucket-text{
        font-size: 14px;
    }
    .slogan{
        margin-top: 10px;
        font-size: 16px;
    }
    .item {
      font-size: 8px;
    }
  }
  @media (min-width: 992px) {
    .basement-text{
        font-size: 14px;
    }
    .basement{
        height: 140px;
    }
    .main-title{
        font-size: 24px;
    }
    .slider-body{
        width: 120px;
        height: 50px;
        font-size: 16px;
    }
    .item-cor{
        height: 350px;
    }
    .slider-new-price{
        font-size: 20px;
    }
    .slider-old-price{
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 16px;
    }
    .slider-text{
        font-size: 12px;
    }
    .navbar-collapse{
        display: flex;
        justify-content: center;
    }
    .navbar-nav{
        float: none;
    }
    .search{
        margin-top: 10px;
    }
    .overflow{
        margin-top: 15px;
    }
    .block .col-md-9{
        padding: 0;
    }
    .bucket-img{
        padding-right: 15px;
    }
    .bucket-box{
        margin-top: 0;
    }
    .header .col-md-4 {
        padding: 0;
    }
    .price-list{
        margin-top: 10px;
        padding: 18px 30px;
    }
    .price-list-content{
        font-size: 16px;
    }
    .price-name{
        font-size: 14px;
    }
    .logo img{
        width: 129px;
    }
    .contacts::first-line{
        font-size: 24px;
    }
    .bucket-text{
        font-size: 16px;
    }
    .slogan{
        margin-top: 0;
        font-size: 21px;
    }
    .item {
      font-size: 10px;
    }
  }
  @media (min-width: 1200px) {
    .basement-text{
        font-size: 14px;
    }
    .basement{
        height: 140px;
    }
    .main-title{
        font-size: 24px;
    }
    .item-cor{
        height: 380px;
    }
    .slider-new-price{
        font-size: 25px;
    }
    .slider-old-price{
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 18px;
    }
    .slider-text{
        font-size: 14px;
    }
    .contacts::first-line {
        font-size: 24px;
    }
    .collapse navbar-collapse{
        display: flex;
        justify-content: center;
    }
    ul{
        width: 1200px;
        display: flex;
        flex-direction: row;
    }
    .navbar-nav{
        float: none;
    }
    .search{
        margin-top: 10px;
    }
    .overflow{
        margin-top: 15px;
    }
    .block .col-lg-9{
        padding: 0;
    }
    .bucket-img{
        padding-right: 15px;
    }
    .bucket-box{
        margin-top: 0;
    }
    .header .col-lg-4 {
        padding: 0;
    }
    .price-list{
        margin-top: 10px;
        padding: 14px 30px;
    }
    .price-list-content{
        font-size: 18px;
    }
    .price-name{
        font-size: 14px;
    }
    .logo img{
        width: 129px;
    }
    .contacts::first-line{
        font-size: 24px;
    }
    .bucket-text{
        font-size: 16px;
    }
    .slogan{
        margin-top: 0;
        font-size: 24px;
    }
    .item {
      font-size: 12px;
    }
  }